<ejs-treegrid
  [dataSource]="data"
  [treeColumnIndex]="1"
  childMapping="subtasks"
  [editSettings]="editSettings"
  [toolbar]="toolBar"
>
  <e-columns>
    <e-column
      field="taskID"
      headerText="Task ID"
      textAlign="Right"
      width="50"
      isPrimaryKey="true"
    ></e-column>
    <e-column
      field="taskName"
      headerText="Task Name"
      textAlign="Left"
      width="100"
    ></e-column>
    <e-column
      field="startDate"
      headerText="Start Date"
      textAlign="Right"
      format="yMd"
      width="90"
      editType="datepickeredit"
    ></e-column>
    <e-column
      field="duration"
      headerText="Duration"
      textAlign="Right"
      width="80"
      editType="numericedit"
      [edit]="numericParams"
    ></e-column>
    <e-column
      field="approved"
      headerText="Approved"
      textAlign="Right"
      width="80"
      [displayAsCheckBox]="true"
      editType="booleanedit"
    ></e-column>
    <e-column headerText="Commands" [commands]="commands" width="80"></e-column>
  </e-columns>
</ejs-treegrid>
